:root {
  color-scheme: light;
}

body {
  margin: 0;
  font-family: var(--ss-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: var(--ss-gradient);
  color: var(--ss-text);
}

code {
  font-family: var(--ss-mono);
}
